@page
@model cookbookWeb.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div>
    <h1 class="display-4">Login</h1>
    <p> This is a login page</p>
    <p>If you are not logged in <a asp-area="" asp-page="/Register">Register</a></p>
</div>