@page
@model cookbookWeb.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div>
    <h1 class="display-4">Register now!</h1>
    <p>If you are already registered</p>
    <p><a asp-area="" asp-page="/Login">Log in!</a></p>
</div>