.recipe-info-container {
    padding: 10px;
}

.recipe-image-container {
    margin-bottom: 20px;
    max-height: 200px;
}

.recipe-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-name-container {
    height: 400px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.recipe-author-image {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.recipe-author-name-container {
    
}

.font-weight-500 {
    font-weight: 500;
}
.recipe-author-name {
    
}

.recipe-content{
    margin-top: 40px;
}

.recipe-content h4{
    margin: 40px 0 15px 0; 
}

.description{
    resize: none;
    max-height: 200px !important;
}

.instruction-container {
    margin-bottom: 30px;
}

.instruction-content {
    resize: none;
    height: 300px !important;
}

.instruction-image-container {
    margin-bottom: 30px;
}

.instruction {
    margin-bottom: 10px;
}

.instruction-image{
    max-height: 350px;
    width: 100%;
    object-fit: cover;
}

.recipe-ingredients-container, .recipe-instructions-container, .recipe-comments-section{
    margin: 20px 0;
}

.recipe-comments-container{
    margin: 20px 0;
}

#comment-content{
    resize: none;
    width: 100%;
    height: 150px;
}

@media only screen and (max-width: 768px) {
    .recipe-content {
        margin-top: 20px;
    }

    
    .instruction-image-container {
        margin: 10px 0;
    }

    .instruction-content {
        height: 100px !important;
    }

    .instruction-image {
        max-height: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .recipe-name-container {
        height: 250px;
    }
    .recipe-name {
        font-size:30px;
    }

    .recipe-content {
        margin-top: 10px;
    }
}