/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.controls-container{
    margin: 10px 0;
}

.recipes{
    margin: 20px 0;
}

.recipes-image-container {
    height: 250px;
}
.recipes-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-info-container {
    padding: 10px;
}

.recipe-image-container {
    margin-bottom: 20px;
    max-height: 200px;
}

.recipe-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-name-container {
    height: 400px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.recipe-author-image {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.recipe-author-name-container {
    
}

.font-weight-500 {
    font-weight: 500;
}
.recipe-author-name {
    
}

.recipe-content{
    margin-top: 40px;
}

.recipe-content h4{
    margin: 40px 0 15px 0; 
}

.description{
    resize: none;

    height: 200px !important;
}

.instruction-container {
    margin-bottom: 30px;
}

.instruction-content {
    resize: none;
    height: 300px !important;
}

.instruction-image-container {
    margin: 30px 0;
}

.instruction {
    margin-bottom: 10px;
}

.instruction-image{
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.recipe-ingredients-container, .recipe-instructions-container, .recipe-comments-section{
    margin: 20px 0;
}

.recipe-comments-container{
    margin: 20px 0;
}

#comment-content{
    resize: none;
    width: 100%;
    height: 150px;
}

@media only screen and (max-width: 768px) {
    .recipe-content {
        margin-top: 20px;
    }

    
    .instruction-image-container {
        margin: 10px 0;
    }

    .instruction-content {
        height: 100px !important;
    }

    .instruction-image {
        max-height: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .recipes-image-container{
        height: 200px;
    }

    .recipe-name-container {
        height: 250px;
    }
    .recipe-name {
        font-size:30px;
    }

    .recipe-content {
        margin-top: 10px;
    }
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}