@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <form id="profile-form" method="post" enctype="multipart/form-data">
        <div class="container row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 image-form">
                <div class="form-group">
                    <label class="control-label">Image:</label>
                    <div class="custom-file">
                        <input class="custom-file-input" type="file" id="profile" asp-for="Input.Image"/>
                        <label class="custom-file-label image-label">Choose image...</label>
                    </div>
                </div>
                <div>
                    @{var image = Model.Input.ImagePath != null ? Model.Input.ImagePath : "/Images/placeholder-image.png";}
                    <img src="@image" alt="Profile Image" class="image" id="profile-image"/>
                </div>
            </div>
        </div>
        <div class="col">
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}