@page
@model cookbookWeb.Pages.AdministratorModel
@using Microsoft.AspNetCore.Identity
@using cookbookWeb.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Admin Panel";
}

<div class="container">
    Test
</div>

@section Scripts {

}